@using apb97.github.io.Shared

@inherits Shared.Base.LocalizedComponent<LearningProgress>

<AdjustedAnchorHeading Id="learning" Heading="@Loc["LearningProgress"]" IncludeId="readyable?.IsReady ?? false">
    <label for="year">@Loc["Year"]</label>
    <InputNumber id="year" TValue="int" Value="Year" ValueChanged="OnYearChanged" ValueExpression="() => Year" min="@MinYear" max="@RecentYear" />

    <div>
        @{
            RenderFragment? component = Year switch
            {
                2025 => @<LearningProgress2025 @ref="readyable" OnReady="StateHasChanged" />,
                2024 => @<LearningProgress2024 @ref="readyable" OnReady="StateHasChanged" />,
                2023 => @<LearningProgress2023 @ref="readyable" OnReady="StateHasChanged" />,
                2022 => @<LearningProgress2022 @ref="readyable" OnReady="StateHasChanged" />,
                _ => null,
            };
            @component
        }
    </div>
</AdjustedAnchorHeading>

@code {
    [Parameter]
    public int Year { get; set; } = RecentYear;

    private const int MinYear = 2022;
    private const int RecentYear = 2025;

    private IReadyable? readyable;

    private void OnYearChanged(int year)
    {
        Year = Math.Clamp(year, MinYear, RecentYear);
    }
}