@page "/LearningProgress/"
@page "/LearningProgress/{Year:int?}"

@using Microsoft.Extensions.Localization
@using System.Reflection;
@using apb97.github.io.Shared
@inject IStringLocalizer<LearningProgress> Localizer
@inject NavigationManager Navigation

<PageTitle>@Localizer["LearningProgress"]@(Year != null ? $" {Year}" : string.Empty)</PageTitle>

<h2>@Localizer["LearningProgress"]</h2>

<label>@Localizer["Year"]</label>
<InputNumber TValue="int?" Value="Year" ValueChanged="OnYearChanged" ValueExpression="() => Year" min="2022" max="2024" />

<DynamicComponent Type="GetDynamicComponentType(Year)" />

@code {
    [Parameter]
    public int? Year { get; set; }

    private const int MinYear = 2022;
    private const int RecentYear = 2024;

    private Type GetDynamicComponentType(int? year)
    {
        if (!year.HasValue)
        {
            return GetDynamicComponentType(RecentYear);
        }

        var assembly = Assembly.GetAssembly(typeof(LearningProgress2024));
        var currentYearType = assembly?.GetType($"apb97.github.io.Shared.LearningProgress{year}");
        return currentYearType ?? typeof(LearningProgress2024);
    }

    private void OnYearChanged(int? year)
    {
        if (!year.HasValue)
        {
            return;
        }

        if (year.Value > RecentYear)
        {
            Navigation.NavigateTo($"/LearningProgress/{RecentYear}");
        }
        else if (year.Value < MinYear)
        {
            Navigation.NavigateTo($"/LearningProgress/{MinYear}");
        }
        else
        {
            Navigation.NavigateTo($"/LearningProgress/{year}");
        }
    }
}