<!-- uses --nav-top-height variable to fix issue with anchor tags target position after navigation while in mobile view -->
<h2 id="@Id" style="position: relative; top: calc(-1 * var(--nav-top-height));"><a href="@($"#{Id}")" class="text-black" style="position: relative; top: var(--nav-top-height);">@ChildContent</a></h2>

@code {
    [Parameter]
    public required string Id { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}
