@using System.Text.RegularExpressions

<!-- uses --nav-top-height variable to fix issue with anchor tags target position after navigation while in mobile view -->
<!-- disables pointer-events on h2 tag and reenables on a tag to allow click to pass through -->
<h2 style="pointer-events: none;">
    <a id="@(IncludeId? Id : null)" hidden="@Hidden" tabindex="0" class="link-primary" style="pointer-events: auto; scroll-margin-top: var(--nav-top-height); font-size: @(FontSize ?? DefaultFontSize)"
       onclick="setTimeout(() => { document.location.assign(document.location.pathname + '#@Id'); document.querySelectorAll('a.nav-link.active')?.forEach(n => n.classList.remove('active')); document.querySelector(`a.nav-link[href='${document.location.pathname.replace(/\//, '')}${document.location.hash}']`)?.classList?.add('active'); if ('scrollIntoViewIfNeeded' in (document.querySelector(document.location.hash) ?? {})) setTimeout(() => document.querySelector(document.location.hash).scrollIntoViewIfNeeded(), 25) }, 0)">
        <span>
            @Heading
        </span>
    </a>
</h2>
@ChildContent

@code {
    public const string DefaultFontSize = "unset";

    [Parameter]
    public required string Id { get; set; }

    [Parameter]
    public bool IncludeId { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public required string Heading { get; set; }

    [Parameter]
    public string? FontSize { get; set; }

    [Parameter]
    public bool Hidden { get; set; }
}
