/* for mobile view */
@media (max-width: 640px) {
    * {
        --nav-top-height: 6rem;
    }
}

@media (min-width: 400px) {
    * {
        --nav-top-height: 3.5rem;
    }
}

@media (min-width: 641px) {
    * {
        --nav-top-height: 0;
    }
}

a{
    text-decoration: none !important;
}

a span {
    text-decoration: underline;
}

a:before {
    content: '<';
    color: gray;
    text-decoration: none !important;
}

a:after {
    content: ' />';
    color: gray;
    text-decoration: none !important;
}
