@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject IStringLocalizer<LanguageSelect> Localizer

<label class="text-white">
    @Localizer["Select your locale"]:
</label>
<InputSelect style="background-color: transparent; border: none; color: white;" TValue="CultureInfo" DisplayName="Locale" Value="@Culture" ValueChanged="SetCultureAndReload" ValueExpression="() => Culture">
    @foreach (var culture in supportedCultures)
    {
        <option value="@culture.Value">@culture.Key</option>
    }
</InputSelect>

@code
{
    private CultureInfo Culture { get; set; } = CultureInfo.CurrentCulture;

    private readonly IReadOnlyDictionary<string, CultureInfo> supportedCultures = new Dictionary<string, CultureInfo>
    { 
        { "English", new CultureInfo("en") },
        { "Polski", new CultureInfo("pl") }
    };

    private async Task SetCultureAndReload(CultureInfo value)
    {
        Culture = value;

        await JSRuntime.InvokeVoidAsync("blazorCulture.set", value.Name);

        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }
}