@using apb97.github.io.JSInterop
@using apb97.github.io.Services

@inherits Base.LocalizedComponent<LanguageSelect>
@implements IAsyncDisposable

@inject IJSRuntime JS
@inject NavigationManager Navigation

@if (ShouldRender())
{
    <label for="language" class="text-white">
        @(Loc["Select your locale"]):
    </label>

    <CustomSelect Id="language" Value="@Culture" Options="supportedCultures" OnSelected="SetCultureAndReload" DisplayDownward="DisplayDownward" />
}

@code {
    [Parameter]
    public bool DisplayDownward { get; set; }

    public string? Culture { get; private set; }

    private IJSObjectReference? utilitiesModule;

    private readonly static IReadOnlyDictionary<string, string> supportedCultures = new Dictionary<string, string>
    {
        { "English", "en-US" },
        { "Polski", "pl-PL" }
    };

    protected override async Task OnInitializedAsync()
    {
        utilitiesModule = await JS.ImportAsync(JSModules.UtilitiesModule);
        if (utilitiesModule is not null)
            Culture = await utilitiesModule.GetSettingAsync<string>("BlazorCulture") ?? "en-US";

        await base.OnInitializedAsync();
        await Layout.NotifyStateChanged();
    }

    private async Task SetCultureAndReload(string value)
    {
        Culture = value;
        await Loc.InitializeAsync(value);

        StateHasChanged();
        await Layout.NotifyStateChanged();

        if (utilitiesModule is null) return;
        await utilitiesModule.SetSettingAsync("BlazorCulture", value);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (utilitiesModule is not null)
        {
            await utilitiesModule.DisposeAsync();
        }
    }
}