@using apb97.github.io.JSInterop
@using apb97.github.io.Services

@implements IAsyncDisposable

@inject IJSRuntime JS

<LocalizedComponent T="LanguageSelect" Context="Loc" @ref="localizer">
    <label for="language" class="text-white">
        @(Loc["Select your locale"]):
    </label>

    <CustomSelect Id="language" Value="@Culture" Options="supportedCultures" OnSelected="SetCultureAndReload" DisplayDownward="DisplayDownward" />
</LocalizedComponent>

@code {
    [Parameter]
    public bool DisplayDownward { get; set; }

    public string? Culture { get; private set; }

    private IJSObjectReference? utilitiesModule;
    private LocalizedComponent<LanguageSelect>? localizer;

    private readonly static IReadOnlyDictionary<string, string> supportedCultures = new Dictionary<string, string>
    {
        { "English", "en-US" },
        { "Polski", "pl-PL" }
    };

    protected override async Task OnInitializedAsync()
    {
        utilitiesModule = await JS.ImportAsync(JSModules.UtilitiesModule);
        if (utilitiesModule is not null)
            Culture = await utilitiesModule.GetSettingAsync<string>("BlazorCulture") ?? "en-US";
        if (localizer is not null)
            await localizer.Layout.NotifyStateChanged();
    }

    private async Task SetCultureAndReload(string value)
    {
        Culture = value;
        if (localizer is not null)
        {
            await localizer.ReloadResourcesAndRefreshLayoutAsync();
        }

        if (utilitiesModule is null) return;
        await utilitiesModule.SetSettingAsync("BlazorCulture", value);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (utilitiesModule is not null)
        {
            await utilitiesModule.DisposeAsync();
        }
    }
}