@import '_content/apb97.github.io.Shared/apb97.github.io.Shared.gukbavk21a.bundle.scp.css';

/* /Components/AboutMe.razor.rz.scp.css */
/* /Components/AdjustedAnchorHeading.razor.rz.scp.css */
/* for mobile view */
@media (max-width: 640px) {
    *[b-tdb47e3rwx] {
        --nav-top-height: 6rem;
    }
}

@media (min-width: 400px) {
    *[b-tdb47e3rwx] {
        --nav-top-height: 3.5rem;
    }
}

@media (min-width: 641px) {
    *[b-tdb47e3rwx] {
        --nav-top-height: 0;
    }
}

a[b-tdb47e3rwx] {
    text-decoration: none !important;
}

a span[b-tdb47e3rwx] {
    text-decoration: underline;
}

a[b-tdb47e3rwx]:before {
    content: '<';
    --before-after-color: #a8a8a8;
    color: var(--before-after-color);
    text-decoration: none !important;
}

a[b-tdb47e3rwx]:after {
    content: ' />';
    --before-after-color: #a8a8a8;
    color: var(--before-after-color);
    text-decoration: none !important;
}
/* /Components/Challenges.razor.rz.scp.css */
a[b-pueixfyr4z] {
    font-size: larger;
    text-decoration: none !important;
}

a span[b-pueixfyr4z] {
    text-decoration: underline;
}

a[b-pueixfyr4z]:before {
    content: '<';
    color: gray;
    text-decoration: none !important;
}

a[b-pueixfyr4z]:after {
    content: ' />';
    color: gray;
    text-decoration: none !important;
}
/* /Components/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-awybxkeuns] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-awybxkeuns] {
    height: 6rem;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.w-100-50[b-awybxkeuns] {
    width: 100%;
}

.container-fluid[b-awybxkeuns] {
    flex-direction: column;
    width: 100%;
}

@media (min-width: 400px) {
    .top-row[b-awybxkeuns] {
        height: 3.5rem;
    }

    .w-100-50[b-awybxkeuns] {
        width: unset;
    }

    .container-fluid[b-awybxkeuns] {
        flex-direction: row;
        width: 100%;
    }
}

.navbar-brand[b-awybxkeuns] {
    font-size: 1.1rem;
}

.oi[b-awybxkeuns] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-awybxkeuns] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-awybxkeuns] {
        padding-top: 1rem;
    }

    .nav-item[b-awybxkeuns]  a, .nav-item[b-awybxkeuns]  button {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-awybxkeuns]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item button[b-awybxkeuns] {
    border: none;
    background-color: transparent;
    width: 100%;
}

.nav-item[b-awybxkeuns]  a:hover, .nav-item[b-awybxkeuns]  button:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.collapse[b-awybxkeuns] {
    display: none !important;
}

@media (min-width: 641px) {
    .w-100-50[b-awybxkeuns] {
        width: 100%;
    }

    .navbar-toggler[b-awybxkeuns] {
        display: none;
    }

    .collapse[b-awybxkeuns] {
        /* Never collapse the sidebar for wide screens */
        display: flex !important;
        height: unset !important;
    }
}
/* /Components/Projects.razor.rz.scp.css */
.text-center[b-6ov66ymfu4] {
    margin-block-end: 0;
}

.tags[b-6ov66ymfu4] {
    pointer-events: none;
    position: relative;
    bottom: 1pt;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    flex-basis: 0;
}

.tags > span[b-6ov66ymfu4] {
    margin: 0 2pt;
    flex-grow: 1.00;
    pointer-events: auto;
    display: inline-block;
    --tags-bg-color: linear-gradient(transparent 60%, #ab47bc);
    background: var(--tags-bg-color);
    transition: flex-grow 0.25s;
}

.tags > span:hover[b-6ov66ymfu4] {
    --tags-bg-color: linear-gradient(transparent 60%, dodgerblue) !important;
} 

@media (prefers-reduced-motion: no-preference) {
    .tags > span:hover[b-6ov66ymfu4] {
        flex-grow: 4.00;
    } 
}

a[b-6ov66ymfu4] {
    font-size: larger;
    text-decoration: none !important;
    cursor: pointer !important;
}

a span[b-6ov66ymfu4] {
    text-decoration: underline;
}

a[b-6ov66ymfu4]:before {
    content: '<';
    color: gray;
    text-decoration: none !important;
}

a[b-6ov66ymfu4]:after {
    content: ' />';
    color: gray;
    text-decoration: none !important;
}

a:not([href]):not([class])[b-6ov66ymfu4] {
    color: #0071c1;
    cursor: pointer;
}

a:not([href]):not([class]):hover[b-6ov66ymfu4] {
    color: #0a58ca;
}
/* /Components/Skills.razor.rz.scp.css */
img[b-nxlq7n8cno] {
    max-height: 64px;
}

li > span[b-nxlq7n8cno]:before {
    color: gray;
    content: '<';
}

li > span[b-nxlq7n8cno]:after {
    color: gray;
    content: ' />';
}

.flex-skills[b-nxlq7n8cno] {
    flex-direction: column !important;
}

@media (min-width: 640px) {
    .flex-skills[b-nxlq7n8cno] {
        flex-direction: column !important;
    }
}

@media (min-width: 992px) {
    .flex-skills[b-nxlq7n8cno] {
        flex-direction: column !important;
    }

    .flex-skills > ul[b-nxlq7n8cno] {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .flex-skills[b-nxlq7n8cno] {
        flex-direction: row !important;
    }

    .flex-skills > ul[b-nxlq7n8cno] {
        width: 50%;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-0clx55j7wy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0clx55j7wy] {
    flex: 1;
}

.sidebar[b-0clx55j7wy] {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    flex-direction: column !important;
}

.top-row[b-0clx55j7wy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

    .top-row[b-0clx55j7wy]  a, .top-row[b-0clx55j7wy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-0clx55j7wy]  a:hover, .top-row[b-0clx55j7wy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-0clx55j7wy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-0clx55j7wy] {
        display: none;
    }

    .top-row[b-0clx55j7wy]  a, .top-row[b-0clx55j7wy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0clx55j7wy] {
        flex-direction: row;
    }

    .sidebar[b-0clx55j7wy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row.auth[b-0clx55j7wy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-0clx55j7wy], article[b-0clx55j7wy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
