@page "/LearningProgress"
@page "/LearningProgress/{Year:int?}"

@using Microsoft.Extensions.Localization
@using System.Reflection;
@inject IStringLocalizer<LearningProgress> Localizer

<PageTitle>@Localizer["LearningProgress"]</PageTitle>

<h2>@Localizer["LearningProgress"]</h2>

<label>@Localizer["Year"]</label>
<input @bind-value="Year" type="number" min="2022" max="2023"/>

<DynamicComponent Type="DynamicComponentType"/>

@code {
    private int? year;

    [Parameter]
    public int? Year
    { 
        get => year;
        set
        {
            year = value;
            UpdateDynamicComponent();
        }
    }

    protected Type? DynamicComponentType { get; set; } = typeof(LearningProgress2023);

    protected override void OnParametersSet()
    {
        UpdateDynamicComponent();
    }

    protected void UpdateDynamicComponent()
    {
        var assembly = Assembly.GetAssembly(typeof(LearningProgress2023));
        var currentYearType = assembly?.GetType($"apb97.github.io.Client.Shared.LearningProgress{(Year.HasValue ? Year.Value : 2023)}");
        if (currentYearType != null)
        {
            DynamicComponentType = currentYearType;
        }
    }
}