@using apb97.github.io.Shared.Services
@using apb97.github.io.WebSudoku.Shared
@inherits LayoutComponentBase
@implements ILayoutStateChangeHandler

@inject UtilityService utilities

@if (LayoutMode == LayoutMode.Light)
{
    <style>
        * {
            --page-bg-color: white !important;
            --page-fg-color: black !important;
            --tags-bg-color: linear-gradient(transparent 60%, purple) !important;
            --code-color: #5e00ef !important;
            --input-bg-color: white !important;
            --input-fg-color: black !important;
            --link-color: #0068ff !important;
            --cell-editable-text-color: lightgray;
            --cell-error-highlight: #ed0000 !important;
        }

        .input-editable.error-highlight {
            --cell-editable-text-color: white !important;
        }
    </style>
}

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar d-print-none d-flex position-sticky top-0">
            <NavMenu @ref="navMenu" />
        </div>

        <main>
            <article class="content px-4" @onclick="() => navMenu?.CollapseNavMenu()">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private NavMenu? navMenu;

    private const string LayoutModeKey = "LayoutMode";
    
    public LayoutMode LayoutMode { get; private set; } = LayoutMode.Dark;

    public event Func<Task> OnStateChanging = delegate { return Task.CompletedTask; };

    protected override async Task OnInitializedAsync()
    {
        var modeSetting = await utilities.GetSettingAsync<string>(LayoutModeKey);
        if (string.IsNullOrEmpty(modeSetting) || !LayoutMode.TryParse<LayoutMode>(modeSetting, out var layoutMode)) return;
        LayoutMode = layoutMode;
    }

    public async Task ToggleLayoutMode()
    {
        LayoutMode = LayoutMode == LayoutMode.Dark ? LayoutMode.Light: LayoutMode.Dark;
        await utilities.SetSettingAsync(LayoutModeKey, LayoutMode.ToString());
        StateHasChanged();
    }

    public async Task NotifyStateChanged()
    {
        await OnStateChanging.Invoke();
        StateHasChanged();
    }
}