<a style="@Style" class="nav-link" href="@Href"
   onclick="setTimeout(() => { document.querySelectorAll('a.nav-link.active')?.forEach(n => n.classList.remove('active')); this.classList.add('active'); if ('@AdditionalPass' == 'True' && 'scrollIntoViewIfNeeded' in (document.querySelector('@Href') ?? {})) setTimeout(() => document.querySelector('@Href').scrollIntoViewIfNeeded(), 25); }, 0)">
    @ChildContent
</a>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public required string Href { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool AdditionalPass { get; set; }
}
