a {
    font-size: larger;
    text-decoration: none !important;
}

a span {
    text-decoration: underline;
}

a:before {
    content: '<';
    color: gray;
    text-decoration: none !important;
}

a:after {
    content: ' />';
    color: gray;
    text-decoration: none !important;
}
