.text-center {
    margin-block-end: 0;
}

.tags {
    pointer-events: none;
    position: relative;
    bottom: 1pt;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    flex-basis: 0;
}

.tags > span {
    margin: 0 2pt;
    flex-grow: 1.00;
    pointer-events: auto;
    display: inline-block;
    --tags-bg-color: linear-gradient(transparent 60%, #ab47bc);
    background: var(--tags-bg-color);
    transition: flex-grow 0.25s;
}

.tags > span:hover {
    --tags-bg-color: linear-gradient(transparent 60%, dodgerblue) !important;
} 

@media (prefers-reduced-motion: no-preference) {
    .tags > span:hover {
        flex-grow: 4.00;
    } 
}

a {
    font-size: larger;
    text-decoration: none !important;
    cursor: pointer !important;
}

a span {
    text-decoration: underline;
}

a:before {
    content: '<';
    color: gray;
    text-decoration: none !important;
}

a:after {
    content: ' />';
    color: gray;
    text-decoration: none !important;
}

a:not([href]):not([class]) {
    color: #0071c1;
    cursor: pointer;
}

a:not([href]):not([class]):hover {
    color: #0a58ca;
}
