@using System.Globalization
@using apb97.github.io.Shared
@using apb97.github.io.Shared.Extensions
@inherits LayoutComponentBase
@implements ILayoutStateChangeHandler

@inject UtilityService utilities

@if (LayoutMode == LayoutMode.Light)
{
    <style>
        * {
            --page-bg-color: white !important;
            --page-fg-color: black !important;
            --tags-bg-color: linear-gradient(transparent 60%, purple) !important;
            --code-color: #5e00ef !important;
            --input-bg-color: white !important;
            --input-fg-color: black !important;
            --link-color: #0068ff !important;
            --link-hover: #0a58ca !important;
            --before-after-color: #595959 !important;
        }
    </style>
}

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar d-flex" style="position: sticky; top: 0; z-index: 100">
            <NavMenu @ref="navMenu" />
        </div>

        <main>
            <article @onclick="() => navMenu?.CollapseNavMenu()" class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private NavMenu? navMenu;

    private const string LayoutModeKey = "LayoutMode";

    public LayoutMode LayoutMode { get; private set; } = LayoutMode.Dark;

    public event Func<Task> OnStateChanging = delegate { return Task.CompletedTask; };

    protected override async Task OnInitializedAsync()
    {
        var modeSetting = await utilities.GetSettingAsync<string>(LayoutModeKey);
        if (string.IsNullOrEmpty(modeSetting) || !LayoutMode.TryParse<LayoutMode>(modeSetting, out var layoutMode)) return;
        LayoutMode = layoutMode;
    }

    public async Task ToggleLayoutMode()
    {
        LayoutMode = LayoutMode == LayoutMode.Dark ? LayoutMode.Light : LayoutMode.Dark;
        await utilities.SetSettingAsync(LayoutModeKey, LayoutMode.ToString());
        StateHasChanged();
    }

    public async Task NotifyStateChanged()
    {
        await OnStateChanging.Invoke();
        StateHasChanged();
    }
}
