@using System.Globalization
@using apb97.github.io.Shared
@inherits LayoutComponentBase

@inject IStringLocalizer<MainLayout> Localizer

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar d-flex flex-column" style="position: sticky; top: 0; z-index: 100">
            <NavMenu @ref="navMenu"/>
        </div>

        <main>
            <div class="top-row px-4">
            </div>

            <article @onclick="() => navMenu?.CollapseNavMenu()" class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private NavMenu? navMenu;

    public static event Func<Task> OnStateChanging = delegate { return Task.CompletedTask; };

    public void NotifyStateChanged()
    {
        OnStateChanging.Invoke();
        StateHasChanged();
        navMenu?.SetParametersAsync(ParameterView.Empty);
    }

    public CultureInfo? Language => navMenu?.Language;
}
