@using System.Globalization
@using apb97.github.io.Shared
@inherits LayoutComponentBase


@if (LayoutMode == "Light")
{
    <style>
        body, html {
            --page-bg-color: white;
            --page-fg-color: black;
            --tags-bg-color: linear-gradient(transparent 75%, purple);
            --code-color: #c02d76;
        }
    </style>
}

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar d-flex flex-column" style="position: sticky; top: 0; z-index: 100">
            <NavMenu @ref="navMenu"/>
        </div>

        <main>
            <article @onclick="() => navMenu?.CollapseNavMenu()" class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private NavMenu? navMenu;

    private string LayoutMode { get; set; } = "Dark";

    public static event Func<Task> OnStateChanging = delegate { return Task.CompletedTask; };

    public void NotifyStateChanged()
    {
        OnStateChanging.Invoke();
        StateHasChanged();
        navMenu?.SetParametersAsync(ParameterView.Empty);
    }

    public CultureInfo? Language => navMenu?.Language;
}
