name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x
        dotnet-quality: ga

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release

    - name: Publish
      run: dotnet publish -c Release --nologo --no-build

    - name: Rewrite base href
      if: github.event_name == 'push'
      uses: SteveSandersonMS/ghaction-rewrite-base-href@v1.1.0
      with:
        html_path: WebSudoku/bin/Release/net10.0/publish/wwwroot/index.html
        base_href: WebSudoku

    - name: Move files
      run: |
        mkdir ./public
        mv apb97.github.io/bin/Release/net10.0/publish/wwwroot ./public
        mv WebSudoku/bin/Release/net10.0/publish/wwwroot/ ./public/wwwroot/WebSudoku

    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: public/wwwroot
